.s-gradient {
  background: -webkit-linear-gradient(#21D4FD, #158ba5);
  color: white;
}

.s-banner-container {
  display: flex !important;
  flex-direction: column;
  justify-content: center !important;
  width: 100% !important;
}

.s-banner {
  background-color: #ffffff;
  min-height: 15vh;
  padding: 30px;
  display: flex;
  align-items: center;
}

.s-banner-medium {
  background-color: #ffffff;
  min-height: 30vh;
  padding: 30px;
  display: flex;
  align-items: center;
}

.s-banner-large {
  background-color: #ffffff;
  min-height: 60vh;
  padding: 30px;
  display: flex;
  align-items: center;
}

.s-banner-primary-large {
  background-color: #1dbce0;
  min-height: 60vh;
  padding: 30px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.s-banner-fullheight {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
}
