.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
}

.btn-small {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  min-width: 60px !important;
  min-height: 30px !important;
  border-radius: 3px !important;
  padding: 5px !important;
}

.btn-large {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  min-width: 100px !important;
  min-height: 60px !important;
  border-radius: 3px !important;
  padding: 5px !important;
}

.button {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  min-width: 80px;
  min-height: 40px;
  border-radius: 3px !important;
  border: none !important;
  padding: 5px !important;
  margin: 2px !important;
  color: #1e1e1e;
  background-color: #ffffff;
  -webkit-transition: 0.3s ease-in-out !important;
  transition: 0.3s ease-in-out !important;
}

.button.s-default:hover {
  background-color: #d4d4d4 !important;
}

.button.s-primary:hover {
  background-color: #1aa9c9 !important;
}

.button.s-danger:hover {
  background-color: #b71d25 !important;
}

.button.s-warning:hover {
  background-color: #dab10d !important;
}

.button.s-success:hover {
  background-color: #29b765 !important;
}

.button.s-info:hover {
  background-color: #2472a4 !important;
}

.button.s-purple:hover {
  background-color: #8f4bab !important;
}

.outlined, .outlined-button, .outlined-button-white, .outlined-button-primary, .outlined-button-danger, .outlined-button-warning, .outlined-button-success, .outlined-button-info, .outlined-button-purple {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 80px;
  min-height: 40px;
  border-radius: 3px;
  padding: 5px;
  margin: 2px;
  background-color: transparent;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.outlined-button {
  color: #e1e1e1;
  border: 1px solid #e1e1e1;
}

.outlined-button:hover {
  background-color: #e1e1e1;
  color: #ffffff;
}

.outlined-button-white {
  color: #e1e1e1;
  border: 1px solid #e1e1e1;
}

.outlined-button-white:hover {
  background-color: #ffffff;
  color: #21D4FD;
}

.outlined-button-primary {
  color: #1dbce0;
  border: 1px solid #1dbce0;
}

.outlined-button-primary:hover {
  background-color: #1dbce0;
  color: #ffffff;
}

.outlined-button-danger {
  color: #cd2029;
  border: 1px solid #cd2029;
}

.outlined-button-danger:hover {
  background-color: #cd2029;
  color: #ffffff;
}

.outlined-button-warning {
  color: #f1c40f;
  border: 1px solid #f1c40f;
}

.outlined-button-warning:hover {
  background-color: #f1c40f;
  color: #ffffff;
}

.outlined-button-success {
  color: #2ecc71;
  border: 1px solid #2ecc71;
}

.outlined-button-success:hover {
  background-color: #2ecc71;
  color: #ffffff;
}

.outlined-button-info {
  color: #2980b9;
  border: 1px solid #2980b9;
}

.outlined-button-info:hover {
  background-color: #2980b9;
  color: #ffffff;
}

.outlined-button-purple {
  color: #9b59b6;
  border: 1px solid #9b59b6;
}

.outlined-button-purple:hover {
  background-color: #9b59b6;
  color: #ffffff;
}
