article {
  margin-bottom: 10px !important;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

html, body, h1, h2, h3, h4, h5, h6, a, button, li, ul {
  color: #212529;
  font-family: 'Noto Sans';
}

h1 {
  font-size: 3.5rem !important;
  padding: 0 !important;
}

h2 {
  font-size: 3rem !important;
  padding: 0 !important;
}

h3 {
  font-size: 2.5rem !important;
  padding: 0 !important;
}

h4 {
  font-size: 2rem !important;
  padding: 0 !important;
}

h5 {
  font-size: 1.5rem !important;
  padding: 0 !important;
}

h6 {
  font-size: 1rem !important;
  padding: 0 !important;
}

.text-is-centered {
  text-align: center !important;
}

.text-is-right {
  text-align: right !important;
}

.text-is-left {
  text-align: left !important;
}

.text-is-white {
  color: #ffffff !important;
}

.size-is-1 {
  font-size: 3.5rem !important;
}

.size-is-2 {
  font-size: 3rem !important;
}

.size-is-3 {
  font-size: 2.5rem !important;
}

.size-is-4 {
  font-size: 2rem !important;
}

.size-is-5, .s-title {
  font-size: 1.5rem !important;
}

.size-is-6 {
  font-size: 1rem !important;
}

.size-is-7 {
  font-size: 0.75rem !important;
}

.s-subtitle {
  font-size: 1rem !important;
  font-weight: 300 !important;
}

.s-title {
  font-size: 1.5rem !important;
  font-weight: 600 !important;
}

html, body {
  margin: 0 !important;
}

.s-primary {
  background-color: #1dbce0 !important;
}

.s-info {
  background-color: #2980b9 !important;
}

.s-success {
  background-color: #2ecc71 !important;
}

.s-warning {
  background-color: #f1c40f !important;
}

.s-danger {
  background-color: #C33246 !important;
}

.s-default {
  background-color: #b3b3b3 !important;
}

.s-light {
  background-color: #ecf0f1 !important;
}

.s-grey {
  background-color: #bdc3c7 !important;
}

.container {
  max-width: 1344px !important;
  margin: 0 auto !important;
  height: auto !important;
  padding: 30px !important;
}

html, body, h1, h2, h3, h4, h5, h6, a, button, li, ul {
  color: #212529;
  font-family: 'Noto Sans';
}

h1 {
  font-size: 3.5rem !important;
  padding: 0 !important;
}

h2 {
  font-size: 3rem !important;
  padding: 0 !important;
}

h3 {
  font-size: 2.5rem !important;
  padding: 0 !important;
}

h4 {
  font-size: 2rem !important;
  padding: 0 !important;
}

h5 {
  font-size: 1.5rem !important;
  padding: 0 !important;
}

h6 {
  font-size: 1rem !important;
  padding: 0 !important;
}

.text-is-centered {
  text-align: center !important;
}

.text-is-right {
  text-align: right !important;
}

.text-is-left {
  text-align: left !important;
}

.text-is-white {
  color: #ffffff !important;
}

.size-is-1 {
  font-size: 3.5rem !important;
}

.size-is-2 {
  font-size: 3rem !important;
}

.size-is-3 {
  font-size: 2.5rem !important;
}

.size-is-4 {
  font-size: 2rem !important;
}

.size-is-5, .s-title {
  font-size: 1.5rem !important;
}

.size-is-6 {
  font-size: 1rem !important;
}

.size-is-7 {
  font-size: 0.75rem !important;
}

.s-subtitle {
  font-size: 1rem !important;
  font-weight: 300 !important;
}

.s-title {
  font-size: 1.5rem !important;
  font-weight: 600 !important;
}

.s-gradient {
  background: -webkit-linear-gradient(#21D4FD, #158ba5);
  color: white;
}

.s-banner-container {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  width: 100% !important;
}

.s-banner {
  background-color: #ffffff;
  min-height: 15vh;
  padding: 30px;
  display: flex;
  align-items: center;
}

.s-banner-primary {
  background-color: #1dbce0;
  min-height: 15vh;
  padding: 30px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.s-banner-danger {
  background-color: #C33246;
  min-height: 15vh;
  padding: 30px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.s-banner-warning {
  background-color: #f1c40f;
  min-height: 15vh;
  padding: 30px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.s-banner-success {
  background-color: #2ecc71;
  min-height: 15vh;
  padding: 30px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.s-banner-info {
  background-color: #2980b9;
  min-height: 15vh;
  padding: 30px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.s-banner-medium {
  background-color: #ffffff;
  min-height: 30vh;
  padding: 30px;
  display: flex;
  align-items: center;
}

.s-banner-primary-medium {
  background-color: #1dbce0;
  min-height: 30vh;
  padding: 30px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.s-banner-danger-medium {
  background-color: #C33246;
  min-height: 30vh;
  padding: 30px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.s-banner-warning-medium {
  background-color: #f1c40f;
  min-height: 30vh;
  padding: 30px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.s-banner-success-medium {
  background-color: #2ecc71;
  min-height: 30vh;
  padding: 30px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.s-banner-info-medium {
  background-color: #2980b9;
  min-height: 30vh;
  padding: 30px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.s-banner-large {
  background-color: #ffffff;
  min-height: 60vh;
  padding: 30px;
  display: flex;
  align-items: center;
}

.s-banner-primary-large {
  background-color: #1dbce0;
  min-height: 60vh;
  padding: 30px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.s-banner-danger-large {
  background-color: #C33246;
  min-height: 60vh;
  padding: 30px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.s-banner-warning-large {
  background-color: #f1c40f;
  min-height: 60vh;
  padding: 30px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.s-banner-success-large {
  background-color: #2ecc71;
  min-height: 60vh;
  padding: 30px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.s-banner-info-large {
  background-color: #2980b9;
  min-height: 60vh;
  padding: 30px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.s-banner-fullheight {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
}

.s-banner-primary-fullheight {
  background-color: #1dbce0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  color: #ffffff;
}

.s-banner-danger-fullheight {
  background-color: #C33246;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  color: #ffffff;
}

.s-banner-warning-fullheight {
  background-color: #f1c40f;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  color: #ffffff;
}

.s-banner-success-fullheight {
  background-color: #2ecc71;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  color: #ffffff;
}

.s-banner-info-fullheight {
  background-color: #2980b9;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  color: #ffffff;
}

.buttons {
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: wrap !important;
  justify-content: left !important;
}

.btn-small {
  min-width: 60px !important;
  min-height: 30px !important;
  border-radius: 3px !important;
  padding: 5px !important;
}

.btn-large {
  min-width: 100px !important;
  min-height: 60px !important;
  border-radius: 3px !important;
  padding: 5px !important;
}

.button {
  min-width: 80px;
  min-height: 40px;
  border-radius: 3px !important;
  border: none !important;
  padding: 5px !important;
  margin: 2px !important;
  color: #ffffff !important;
  background-color: #b3b3b3 !important;
  -webkit-transition: 0.3s ease-in-out !important;
  transition: 0.3s ease-in-out !important;
}

.button:hover {
  background-color: #a6a6a6 !important;
  color: #ffffff !important;
  transform: scale(1.1) !important;
}

.button-primary {
  min-width: 80px;
  min-height: 40px;
  border-radius: 3px !important;
  border: none !important;
  padding: 5px !important;
  margin: 2px !important;
  color: #ffffff !important;
  background-color: #1dbce0 !important;
  -webkit-transition: 0.3s ease-in-out !important;
  transition: 0.3s ease-in-out !important;
}

.button-primary:hover {
  background-color: #1aa9c9 !important;
  color: #ffffff !important;
  transform: scale(1.1) !important;
}

.button-danger {
  min-width: 80px;
  min-height: 40px;
  border-radius: 3px !important;
  border: none !important;
  padding: 5px !important;
  margin: 2px !important;
  color: #ffffff !important;
  background-color: #C33246 !important;
  -webkit-transition: 0.3s ease-in-out !important;
  transition: 0.3s ease-in-out !important;
}

.button-danger:hover {
  background-color: #af2d3f !important;
  color: #ffffff !important;
  transform: scale(1.1) !important;
}

.button-warning {
  min-width: 80px;
  min-height: 40px;
  border-radius: 3px !important;
  border: none !important;
  padding: 5px !important;
  margin: 2px !important;
  color: #ffffff !important;
  background-color: #f1c40f !important;
  -webkit-transition: 0.3s ease-in-out !important;
  transition: 0.3s ease-in-out !important;
}

.button-warning:hover {
  background-color: #dab10d !important;
  color: #ffffff !important;
  transform: scale(1.1) !important;
}

.button-success {
  min-width: 80px;
  min-height: 40px;
  border-radius: 3px !important;
  border: none !important;
  padding: 5px !important;
  margin: 2px !important;
  color: #ffffff !important;
  background-color: #2ecc71 !important;
  -webkit-transition: 0.3s ease-in-out !important;
  transition: 0.3s ease-in-out !important;
}

.button-success:hover {
  background-color: #29b765 !important;
  color: #ffffff !important;
  transform: scale(1.1) !important;
}

.button-info {
  min-width: 80px;
  min-height: 40px;
  border-radius: 3px !important;
  border: none !important;
  padding: 5px !important;
  margin: 2px !important;
  color: #ffffff !important;
  background-color: #2980b9 !important;
  -webkit-transition: 0.3s ease-in-out !important;
  transition: 0.3s ease-in-out !important;
}

.button-info:hover {
  background-color: #2472a4 !important;
  color: #ffffff !important;
  transform: scale(1.1) !important;
}

.outlined-button {
  min-width: 80px;
  min-height: 40px;
  border-radius: 3px !important;
  border: 1px solid #b3b3b3 !important;
  padding: 5px !important;
  margin: 2px !important;
  background-color: transparent !important;
  color: #b3b3b3 !important;
  -webkit-transition: 0.3s ease-in-out !important;
  transition: 0.3s ease-in-out !important;
}

.outlined-button:hover {
  background-color: #b3b3b3 !important;
  color: #ffffff !important;
  transform: scale(1.1) !important;
}

.outlined-button-white {
  min-width: 80px;
  max-width: 130px !important;
  min-height: 40px;
  border-radius: 3px !important;
  border: 1px solid #ffffff !important;
  padding: 5px !important;
  margin: 2px !important;
  background-color: transparent !important;
  color: #ffffff !important;
  -webkit-transition: 0.3s ease-in-out !important;
  transition: 0.3s ease-in-out !important;
}

.outlined-button-white:hover {
  background-color: #ffffff !important;
  color: #21D4FD !important;
  transform: scale(1.1) !important;
}

.outlined-button-primary {
  min-width: 80px;
  min-height: 40px;
  border-radius: 3px !important;
  border: 1px solid #1dbce0 !important;
  padding: 5px !important;
  margin: 2px !important;
  background-color: transparent !important;
  color: #1dbce0 !important;
  -webkit-transition: 0.3s ease-in-out !important;
  transition: 0.3s ease-in-out !important;
}

.outlined-button-primary:hover {
  background-color: #1dbce0 !important;
  color: #ffffff !important;
  transform: scale(1.1) !important;
}

.outlined-button-danger {
  min-width: 80px;
  min-height: 40px;
  border-radius: 3px !important;
  border: 1px solid #C33246 !important;
  padding: 5px !important;
  margin: 2px !important;
  background-color: transparent !important;
  color: #C33246 !important;
  -webkit-transition: 0.3s ease-in-out !important;
  transition: 0.3s ease-in-out !important;
}

.outlined-button-danger:hover {
  background-color: #C33246 !important;
  color: #ffffff !important;
  transform: scale(1.1) !important;
}

.outlined-button-warning {
  min-width: 80px;
  min-height: 40px;
  border-radius: 3px !important;
  border: 1px solid #f1c40f !important;
  padding: 5px !important;
  margin: 2px !important;
  background-color: transparent !important;
  color: #f1c40f !important;
  -webkit-transition: 0.3s ease-in-out !important;
  transition: 0.3s ease-in-out !important;
}

.outlined-button-warning:hover {
  background-color: #f1c40f !important;
  color: #ffffff !important;
  transform: scale(1.1) !important;
}

.outlined-button-success {
  min-width: 80px;
  min-height: 40px;
  border-radius: 3px !important;
  border: 1px solid #2ecc71 !important;
  padding: 5px !important;
  margin: 2px !important;
  background-color: transparent !important;
  color: #2ecc71 !important;
  -webkit-transition: 0.3s ease-in-out !important;
  transition: 0.3s ease-in-out !important;
}

.outlined-button-success:hover {
  background-color: #2ecc71 !important;
  color: #ffffff !important;
  transform: scale(1.1) !important;
}

.outlined-button-info {
  min-width: 80px;
  min-height: 40px;
  border-radius: 3px !important;
  border: 1px solid #2980b9 !important;
  padding: 5px !important;
  margin: 2px !important;
  background-color: transparent !important;
  color: #2980b9 !important;
  -webkit-transition: 0.3s ease-in-out !important;
  transition: 0.3s ease-in-out !important;
}

.outlined-button-info:hover {
  background-color: #2980b9 !important;
  color: #ffffff !important;
  transform: scale(1.1) !important;
}

.gallery {
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: wrap !important;
  justify-content: center !important;
}

.photo {
  box-shadow: 0px 0px 5px #bdc3c7;
  border-radius: 3px;
  width: 300px !important;
  height: 250px !important;
  margin: 0.6rem !important;
  box-shadow: 4px 4px 30px #b4b4b4 !important;
  border-radius: 3px !important;
}

.photo1, .photo9 {
  background: url("https://images.unsplash.com/photo-1504814532849-cff240bbc503?auto=format&fit=crop&w=1268&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D") center no-repeat;
  background-size: cover;
}

.photo2, .photo10 {
  background: url("https://images.unsplash.com/photo-1463468217891-c11f48e6310a?auto=format&fit=crop&w=1267&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D") center no-repeat;
  background-size: cover;
}

.photo3, .photo11 {
  background: url("https://images.unsplash.com/photo-1464646163800-8331cc18a357?auto=format&fit=crop&w=1346&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D") center no-repeat;
  background-size: cover;
}

.photo4, .photo12 {
  background: url("https://images.unsplash.com/photo-1480099835147-7b8f6c6f8b98?auto=format&fit=crop&w=1288&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D") center no-repeat;
  background-size: cover;
}

.photo5, .photo13 {
  background: url("https://images.unsplash.com/photo-1482531007909-192ac913980a?auto=format&fit=crop&w=1351&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D") center no-repeat;
  background-size: cover;
}

.photo6, .photo14 {
  background: url("https://images.unsplash.com/photo-1454123253751-1fe2b9e0c10d?auto=format&fit=crop&w=1350&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D") center no-repeat;
  background-size: cover;
}

.photo7, .photo15 {
  background: url("https://images.unsplash.com/photo-1500514966906-fe245eea9344?auto=format&fit=crop&w=1267&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D") center no-repeat;
  background-size: cover;
}

.photo8, .photo16 {
  background: url("https://images.unsplash.com/photo-1483560732664-64c6d784340b?auto=format&fit=crop&w=1350&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D") center no-repeat;
  background-size: cover;
}

.s-card-grid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.s-card {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  width: 48vh;
  background-color: white;
  box-shadow: 4px 4px 30px grey;
  border-radius: 3px;
  padding: 0;
  margin: 0.5rem;
}

.s-card-content {
  padding: 20px;
}

img {
  max-width: 100%;
  width: 48vh;
  height: 30vh;
  border-radius: 3px 3px 0 0;
  margin: 0;
}

.s-card-title {
  font-family: 'Noto Sans';
  font-size: 1.3rem !important;
  margin: 0;
}

.s-card-text {
  margin: 0;
  font-family: 'Noto Sans';
  font-size: 12px;
}

.s-profile-card {
  width: 48vh;
  min-height: 45vh;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin: 15px;
  padding: 0;
  box-shadow: 4px 4px 20px #c3c3c3;
}

.s-profile-card-container {
  display: flex;
  justify-content: center;
  width: 48vh;
  flex-direction: column;
}

.s-profile-background {
  width: 48vh;
  min-height: 22vh;
  background-size: cover;
  border-radius: 10px 10px 0 0;
}

.s-profile-picture {
  margin-top: -70px;
  display: flex;
  justify-content: center;
}

.s-profile-image {
  width: 20vh;
  height: 20vh;
  border-radius: 100%;
  background-color: white;
  border: 3px solid white;
}

.s-profile-media {
  background-color: white;
  border-radius: 10px;
}

.s-profile-content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-family: 'Montserrat';
  justify-content: center;
  text-align: center;
  margin-top: -10px;
  background-color: white;
  z-index: -1;
  border-radius: 0 0 10px 10px;
  font-family: 'Montserrat';
}

.s-profile-title {
  padding: 0;
  margin: 0;
  font-weight: 300;
  font-size: 1.5rem;
}

.s-profile-text {
  padding: 0;
  font-size: 0.75rem;
  margin: 0.5em;
}

.s-profile-links {
  letter-spacing: 3px;
}

.fa-instagram {
  color: #E44D55;
}

.fa-linkedin {
  color: #0076B4;
}

.fa-twitter {
  color: #1DA1F4;
}
