article {
  margin-bottom: 10px !important;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

html, body, h1, h2, h3, h4, h5, h6, a, button, li, ul {
  color: #212529 !important;
  font-family: 'Noto Sans' !important;
}

h1 {
  font-size: 3.5rem !important;
  padding: 0 !important;
}

h2 {
  font-size: 3rem !important;
  padding: 0 !important;
}

h3 {
  font-size: 2.5rem !important;
  padding: 0 !important;
}

h4 {
  font-size: 2rem !important;
  padding: 0 !important;
}

h5 {
  font-size: 1.5rem !important;
  padding: 0 !important;
}

h6 {
  font-size: 1rem !important;
  padding: 0 !important;
}

.text-is-centered {
  text-align: center !important;
}

.text-is-right {
  text-align: right !important;
}

.text-is-left {
  text-align: left !important;
}

.text-is-white {
  color: #ffffff !important;
}

.size-is-1 {
  font-size: 3.5rem !important;
}

.size-is-2 {
  font-size: 3rem !important;
}

.size-is-3 {
  font-size: 2.5rem !important;
}

.size-is-4 {
  font-size: 2rem !important;
}

.size-is-5, .s-title {
  font-size: 1.5rem !important;
}

.size-is-6 {
  font-size: 1rem !important;
}

.size-is-7 {
  font-size: 0.75rem !important;
}

.s-subtitle {
  font-size: 1rem !important;
  font-weight: 300 !important;
}

.s-title {
  font-size: 1.5rem !important;
  font-weight: 600 !important;
}

html, body {
  margin: 0 !important;
}

.s-primary {
  background-color: #1abc9c !important;
}

.s-info {
  background-color: #2980b9 !important;
}

.s-success {
  background-color: #2ecc71 !important;
}

.s-warning {
  background-color: #f1c40f !important;
}

.s-danger {
  background-color: #C33246 !important;
}

.s-default {
  background-color: #b3b3b3 !important;
}

.s-light {
  background-color: #ecf0f1 !important;
}

.container {
  max-width: 1344px !important;
  margin: 0 auto !important;
  height: auto !important;
  padding: 30px !important;
}

html, body, h1, h2, h3, h4, h5, h6, a, button, li, ul {
  color: #212529 !important;
  font-family: 'Noto Sans' !important;
}

h1 {
  font-size: 3.5rem !important;
  padding: 0 !important;
}

h2 {
  font-size: 3rem !important;
  padding: 0 !important;
}

h3 {
  font-size: 2.5rem !important;
  padding: 0 !important;
}

h4 {
  font-size: 2rem !important;
  padding: 0 !important;
}

h5 {
  font-size: 1.5rem !important;
  padding: 0 !important;
}

h6 {
  font-size: 1rem !important;
  padding: 0 !important;
}

.text-is-centered {
  text-align: center !important;
}

.text-is-right {
  text-align: right !important;
}

.text-is-left {
  text-align: left !important;
}

.text-is-white {
  color: #ffffff !important;
}

.size-is-1 {
  font-size: 3.5rem !important;
}

.size-is-2 {
  font-size: 3rem !important;
}

.size-is-3 {
  font-size: 2.5rem !important;
}

.size-is-4 {
  font-size: 2rem !important;
}

.size-is-5, .s-title {
  font-size: 1.5rem !important;
}

.size-is-6 {
  font-size: 1rem !important;
}

.size-is-7 {
  font-size: 0.75rem !important;
}

.s-subtitle {
  font-size: 1rem !important;
  font-weight: 300 !important;
}

.s-title {
  font-size: 1.5rem !important;
  font-weight: 600 !important;
}

.s-banner-container {
  display: flex !important;
  flex-direction: column !important;
  justify-content: left !important;
  width: 100% !important;
}

.s-banner {
  background-color: #ffffff;
  min-height: 15vh;
  padding: 30px;
  display: flex;
  align-items: center;
}

.s-banner-primary {
  background-color: #1abc9c;
  min-height: 15vh;
  padding: 30px;
  display: flex;
  align-items: center;
}

.s-banner-danger {
  background-color: #C33246;
  min-height: 15vh;
  padding: 30px;
  display: flex;
  align-items: center;
}

.s-banner-warning {
  background-color: #f1c40f;
  min-height: 15vh;
  padding: 30px;
  display: flex;
  align-items: center;
}

.s-banner-success {
  background-color: #2ecc71;
  min-height: 15vh;
  padding: 30px;
  display: flex;
  align-items: center;
}

.s-banner-info {
  background-color: #2980b9;
  min-height: 15vh;
  padding: 30px;
  display: flex;
  align-items: center;
}

.s-banner-medium {
  background-color: #ffffff;
  min-height: 30vh;
  padding: 30px;
  display: flex;
  align-items: center;
}

.s-banner-primary-medium {
  background-color: #1abc9c;
  min-height: 30vh;
  padding: 30px;
  display: flex;
  align-items: center;
}

.s-banner-danger-medium {
  background-color: #C33246;
  min-height: 30vh;
  padding: 30px;
  display: flex;
  align-items: center;
}

.s-banner-warning-medium {
  background-color: #f1c40f;
  min-height: 30vh;
  padding: 30px;
  display: flex;
  align-items: center;
}

.s-banner-success-medium {
  background-color: #2ecc71;
  min-height: 30vh;
  padding: 30px;
  display: flex;
  align-items: center;
}

.s-banner-info-medium {
  background-color: #2980b9;
  min-height: 30vh;
  padding: 30px;
  display: flex;
  align-items: center;
}

.s-banner-large {
  background-color: #ffffff;
  min-height: 60vh;
  padding: 30px;
  display: flex;
  align-items: center;
}

.s-banner-primary-large {
  background-color: #1abc9c;
  min-height: 60vh;
  padding: 30px;
  display: flex;
  align-items: center;
}

.s-banner-danger-large {
  background-color: #C33246;
  min-height: 60vh;
  padding: 30px;
  display: flex;
  align-items: center;
}

.s-banner-warning-large {
  background-color: #f1c40f;
  min-height: 60vh;
  padding: 30px;
  display: flex;
  align-items: center;
}

.s-banner-success-large {
  background-color: #2ecc71;
  min-height: 60vh;
  padding: 30px;
  display: flex;
  align-items: center;
}

.s-banner-info-large {
  background-color: #2980b9;
  min-height: 60vh;
  padding: 30px;
  display: flex;
  align-items: center;
}

.s-banner-fullheight {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.buttons {
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: wrap !important;
  justify-content: left !important;
}

.button {
  width: 80px !important;
  height: 40px !important;
  border-radius: 5px !important;
  border: none !important;
  padding: 5px !important;
  margin: 2px !important;
  color: #ecf0f1 !important;
}

.btn-small {
  width: 60px !important;
  height: 30px !important;
  border-radius: 5px !important;
  border: none !important;
  padding: 5px !important;
  color: #ecf0f1 !important;
}

.btn-large {
  width: 100px !important;
  height: 60px !important;
  border-radius: 5px !important;
  border: none !important;
  padding: 5px !important;
  color: #ecf0f1 !important;
}
 

 /*# sourceMappingURL= seiro.css.map */