.s-profile-background {
    background: url("https://images.unsplash.com/photo-1495312040802-a929cd14a6ab?auto=format&fit=crop&w=1189&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D") bottom no-repeat;
    background-size: cover;
}

.seirocss {
    margin: 10px;
}

.s-banner-fullheight {
    justify-content: center;
    flex-direction: column;
}

.grouped-buttons {
	display: flex;
	flex-direction: row;
}

.is-active {
	background-color: #1dbce0 !important;
    color: white !important;
    text-decoration: none !important;
}

.grouped-button {
	background-color: #21D4FD;
	color: white;
	border: none;
	width: 80px;
	height: 40px;
	margin: 0;
	padding: 0;
}

.button1 {
	border-radius: 5px 0 0 5px;
}

.button4 {
	border-radius: 0 5px 5px 0;
}