.s-profile-background {
    background: url("https://images.unsplash.com/photo-1495312040802-a929cd14a6ab?auto=format&fit=crop&w=1189&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D") bottom no-repeat;
    background-size: cover;
}

.seirocss {
	margin: 0;
	padding: 0;
}

.s-banner-fullheight {
    justify-content: center;
    flex-direction: column;
}

.grouped-buttons {
	display: flex;
	flex-direction: row;
}

div.navbar {
    display: flex;
    justify-content: right;
}

button.nav-burger {
    color: white;
    padding: 15px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

button.nav-burger:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #f5f5f5;
    position: fixed;
    height: 100%;
    overflow: scroll;
    transition: 0.5s;
}

#body {
    transition: 0.5s;
    overflow: hidden;
    margin-left: 20%;
    width: 80%;
}

@media screen and (max-width: 700px) {
    ul {
        width: 0;
    }
    #body {
		margin: 0;
		width: 100%;
    }
}

@media screen and (min-width: 700px) {
    button.nav-burger {
        display: none;
    }
}

li a {
    display: block;
    color: #141414;
    padding: 20px;
    text-decoration: none;
}

li a.active {
    background-color: #dbdbdb;
    color: #141414;
}

li a:hover:not(.active) {
    background-color: rgb(226, 226, 226);
}

#mc_embed_signup_scroll {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 15px;
}

.email {
    border: none;
    height: 30px;
    border-radius: 2px;
    padding: 5px;
}

.photo1, .photo9 {
background: url("https://images.unsplash.com/photo-1504814532849-cff240bbc503?auto=format&fit=crop&w=1268&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D") center no-repeat;
background-size: cover;
}

.photo2, .photo10 {
background: url("https://images.unsplash.com/photo-1463468217891-c11f48e6310a?auto=format&fit=crop&w=1267&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D") center no-repeat;
background-size: cover;
}

.photo3, .photo11 {
background: url("https://images.unsplash.com/photo-1464646163800-8331cc18a357?auto=format&fit=crop&w=1346&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D") center no-repeat;
background-size: cover;
}

.photo4, .photo12 {
background: url("https://images.unsplash.com/photo-1480099835147-7b8f6c6f8b98?auto=format&fit=crop&w=1288&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D") center no-repeat;
background-size: cover;
}

.photo5, .photo13 {
background: url("https://images.unsplash.com/photo-1482531007909-192ac913980a?auto=format&fit=crop&w=1351&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D") center no-repeat;
background-size: cover;
}

.photo6, .photo14 {
background: url("https://images.unsplash.com/photo-1454123253751-1fe2b9e0c10d?auto=format&fit=crop&w=1350&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D") center no-repeat;
background-size: cover;
}

.photo7, .photo15 {
background: url("https://images.unsplash.com/photo-1500514966906-fe245eea9344?auto=format&fit=crop&w=1267&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D") center no-repeat;
background-size: cover;
}

.photo8, .photo16 {
background: url("https://images.unsplash.com/photo-1483560732664-64c6d784340b?auto=format&fit=crop&w=1350&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D") center no-repeat;
background-size: cover;
}