@import "../variables/initial-variables"

$gallery-display: flex !default
$gallery-direction: row !default
$gallery-wrap: wrap !default
$gallery-content: center !default
$photo-width: 300px !default
$photo-height: 250px !default
$photo-gap: 0.6rem !default
$photo-shadow: 4px 4px 30px rgb(180, 180, 180) !default
$photo-radius: 3px !default

.gallery 
    display: $gallery-display !important
    flex-direction: $gallery-direction !important
    flex-wrap: $gallery-wrap !important
    justify-content: $gallery-content !important
    padding: 10px

.photo 
    border-radius: 3px;
    width: $photo-width !important
    height: $photo-height !important
    margin: $photo-gap !important
    border-radius: $photo-radius !important
