@import "typography-helpers.sass"
@import "../variables/derived-variables.sass"

//default html margin
html, body
    margin: 0 !important

//default colors, just apply color class to get the color
.s-primary
    background-color: $primary !important
    color: $white !important
    
.s-info
    background-color: $info !important
    color: $white !important

.s-success
    background-color: $success !important
    color: $white !important

.s-warning
    background-color: $warning !important
    color: $white !important

.s-danger
    background-color: $danger !important
    color: $white !important

.s-default
    background-color: $default !important
    color: $black-flat

.s-light
    background-color: $light !important

.s-grey
    background-color: $silver !important
    color: $white !important

.s-purple
    background-color: $purple !important
    color: $white !important

.s-orange
    background-color: $orange !important
    color: $white !important

.s-black 
    background-color: $black-flat !important
    color: $white !important

.container 
    max-width: $fullhd !important
    margin: 0 auto !important
    height: auto !important
    padding: 30px !important

