@import "typography-helpers.sass"
@import "../variables/derived-variables.sass"

html, body
    margin: 0 !important

.s-primary
    background-color: $primary !important
    
.s-info
    background-color: $info !important

.s-success
    background-color: $success !important

.s-warning
    background-color: $warning !important

.s-danger
    background-color: $danger !important

.s-default
    background-color: $default !important

.is-right
    float: right !important

.is-left
    float: left !important

.s-centered
    justify-content: center !important
