//general colors
@import "initial-variables.sass"

$primary: $turquoise !default
$link: $cyan !default
$info: $blue !default
$success: $green !default
$warning: $yellow !default
$danger: $red !default
$light: $white-flat !default
$default: $grey-lighter !default

$background: $white-flat !default
$border: $grey-lighter !default