@import "../variables/derived-variables.sass"
@import "../variables/initial-variables.sass"

$button-width: 80px !default
$button-height: 40px !default
$button-width-small: $button-width - 20px !default
$button-height-small: $button-height - 10px !default
$button-width-large: $button-width + 20px !default
$button-height-large: $button-height + 20px !default
$button-radius: 3px !default
$button-padding: 5px !default
$button-margin: 2px !default
$bg-color: rgba(0, 0, 0, 0) !default

.buttons
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: left
    align-items: center

.s-btn-sm
    display: flex !important
    align-items: center !important
    justify-content: center !important
    min-width: $button-width-small !important
    min-height: $button-height-small !important
    border-radius: $button-radius !important
    padding: $button-padding !important

.s-btn-lg
    display: flex !important
    align-items: center !important
    justify-content: center !important
    min-width: $button-width-large !important
    min-height: $button-height-large !important
    border-radius: $button-radius !important
    padding: $button-padding !important

.s-btn 
    display: flex !important
    align-items: center !important
    justify-content: center !important
    min-width: $button-width 
    min-height: $button-height
    border-radius: $button-radius !important
    border: none !important
    padding: $button-padding !important
    margin: $button-margin !important
    color: $black-flat
    background-color: $white
    -webkit-transition: 0.3s ease-in-out !important
    transition: 0.3s ease-in-out !important

.s-btn.s-default:hover
    background-color: darken($default, 5%) !important

.s-btn.s-primary:hover
    background-color: darken($primary, 5%) !important

.s-btn.s-danger:hover
    background-color: darken($danger, 5%) !important

.s-btn.s-warning:hover
    background-color: darken($warning, 5%) !important

.s-btn.s-success:hover
    background-color: darken($success, 5%) !important

.s-btn.s-info:hover
    background-color: darken($info, 5%) !important

.s-btn.s-purple:hover
    background-color: darken($purple, 5%) !important

.s-otl
    display: flex
    align-items: center
    justify-content: center
    min-width: $button-width
    min-height: $button-height
    border-radius: $button-radius
    padding: $button-padding
    margin: $button-margin
    background-color: $bg-color
    -webkit-transition: 0.3s ease-in-out
    transition: 0.3s ease-in-out

.s-otl
    @extend .s-otl
    color: $default
    border: 1px solid $default
    &:hover
        background-color: $default
        color: $black-flat
    &:focus
        outline: none

.s-otl-white
    @extend .s-otl
    color: $white
    border: 1px solid $white
    &:hover
        background-color: $white
        color: #21D4FD
    &:focus
        outline: none

.s-otl-primary
    @extend .s-otl
    color: $primary
    border: 1px solid $primary
    &:hover
        background-color: $primary
        color: $white
    &:focus
        outline: none

.s-otl-danger
    @extend .s-otl
    color: $danger
    border: 1px solid $danger
    &:hover
        background-color: $danger
        color: $white
    &:focus
        outline: none

.s-otl-warning
    @extend .s-otl
    color: $warning
    border: 1px solid $warning
    &:hover
        background-color: $warning
        color: $white
    &:focus
        outline: none

.s-otl-success
    @extend .s-otl
    color: $success
    border: 1px solid $success
    &:hover
        background-color: $success
        color: $white
    &:focus
        outline: none

.s-otl-info
    @extend .s-otl
    color: $info
    border: 1px solid $info
    &:hover
        background-color: $info
        color: $white
    &:focus
        outline: none

.s-otl-purple
    @extend .s-otl
    color: $purple
    border: 1px solid $purple
    &:hover
        background-color: $purple
        color: $white
    &:focus
        outline: none

.s-otl-black
    @extend .s-otl
    color: $black-flat
    border: 1px solid $black-flat
    &:hover
        background-color: $black-flat
        color: $white
    &:focus
        outline: none
