<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Portfolio Template</title>
    <link href="https://fonts.googleapis.com/css?family=Quicksand|Catamaran|Noto+Sans|Boogaloo" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="../../css/seiro.css">
</head>
<body>
    <div class="navbar">
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#portfolio">Portfolio</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>        
    </div>

    <div class="s-banner-large s-black" id="intro-header">
        <div class="s-banner-container">
            <h1 class="text-is-centered">John Doe</h1>
            <h1 class="s-subtitle text-is-centered">Web Developer</h1>
        </div>
    </div>

    <div class="s-banner-large">
        <div class="s-banner-container">
            <h5 class="text-is-centered">Photography Portfolio</h5>
            <div class="hr-line">
                <div class="line"></div>
            </div>
            <div class="gallery">
                <div class="photo photo1" data-aos="zoom-in-right"></div>
                <div class="photo photo2" data-aos="zoom-in-left"></div>
                <div class="photo photo3" data-aos="zoom-in-right"></div>      
                <div class="photo photo4" data-aos="zoom-in-left"></div>
                <div class="photo photo5" data-aos="zoom-in-right"></div>
                <div class="photo photo6" data-aos="zoom-in-left"></div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.2.0/aos.js"></script>
    <script>
    AOS.init();
    </script>
</body>
</html>